@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

page-onboarding {
.center-image									        {margin:0 auto;max-width:302px !important;max-height:310px !important; margin-top:115px;}
.logo-parent									        {text-align:center;}
.onboard-title											{font-size:38px;color:#fff;}
.onboard-title p										{font-size:35px; color:#fff;  text-shadow: 0px 1px 2px #5f5b5b;  padding-top:70px; margin:0px;}
.onboard-title p b										{font-size:35px; color:#fff;  font-weight: bold;}
.notice													{font-size:15px;color:#047b51;}
.scroll-content											{overflow-y: hidden!important;overflow-x: hidden!important;}
.notice p 												{color:#800820;font-family: "Great Vibes",cursive;font-size:18px;line-height:0px;}


}
