@import url('https://fonts.googleapis.com/css?family=Padauk');
page-register {

.register-log{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #fb486c 0%, #f54468 36%, #e6395b 58%, #d62d4f 77%, #cb2546 100%); height:100%;}
.register-log .scroll-content{padding:0px !important;}
.register-log .scroll-content .label-md{ margin:0px;}
.register-log .scroll-content .label-ios{ margin:0px;}
.register-log .scroll-content .page-title{
	color:#8f001d;
	background:#fe809a;
	font-size:20px;font-family: 'Padauk', sans-serif;
	padding:7px;
}
.register-form{ margin:10px;}
.register-form .list-ios{ margin-bottom:15px;}
.register-form .list-ios .input-ios{ padding-left:15px;}
.register-form .list-md .input-md{ padding-left:10px;}
ion-input{
	border: 1px solid #fff;
    border-radius: 25px;
     text-color: #fff;font-family: 'Padauk', sans-serif;text-transform: capitalize; 
}
.btn-blue{box-shadow:none; height:40px;
 background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #239be6 0%, #1d95df 20%, #158bd5 49%, #0a7fc8 73%, #0378c1 100%);
}

.btn-blue .button-inner{font-family: 'Padauk', sans-serif;text-transform: capitalize; font-size:18px; color:#fff;}
}
