<ion-header class="heade-ti">
  <ion-navbar color="ngocolor">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left>
      <button ion-button icon-only (click)="dashboardPage()">
          <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <img class="center-image" src="assets/images/logotop.png" width="200" height="40" />

  </ion-navbar>
</ion-header>


<ion-content padding class="register-log">
<ion-label class="page-title" text-center>Change Password</ion-label>
<div class="register-form">
<form [formGroup]="changePwdForm">
<br/>
<ion-list>
    <ion-input type="text" placeholder="Current Password" formControlName="currentPassword">
    </ion-input> 
    <small *ngIf="!changePwdForm.controls.currentPassword.valid  && (changePwdForm.controls.currentPassword.dirty || submitAttempt)" >
              <p class="err-reds">Please enter current Password</p>
        </small>
</ion-list>
<ion-list>
    <ion-input type="password" placeholder="New Password" formControlName="newPassword"></ion-input>   
    <small *ngIf="!changePwdForm.controls.newPassword.valid  && (changePwdForm.controls.newPassword.dirty || submitAttempt)">
              <p class="err-reds">New Password</p>
        </small> 
</ion-list>
<ion-list>
    <ion-input type="password" placeholder="Confirm Password" formControlName="re_enterPassword"></ion-input>   
    <small *ngIf="!changePwdForm.controls.re_enterPassword.valid  && (changePwdForm.controls.re_enterPassword.dirty || submitAttempt)">
              <p class="err-reds">Please Re-Enter New Password</p>
        </small> 
</ion-list>
 
<p *ngIf="password_submit" class="err-reds">Password Entered doesn't Match..!</p>
<ion-grid>
    <ion-row>
      <ion-col width-50 style="padding:0px; margin:1px;">
        <button ion-button small start class="btn-can" button-left round (click)="cancel()">Cancel</button>
      </ion-col>
      <ion-col width-50 style="padding:0px;margin:1px;">
    <button ion-button small end class="btn-blue" button-right round (click)="changepassword()">Submit
    </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
  </div>
</ion-content>

